<div class="container">
  <div class="row">
    <div class="col-lg-6" >
      <mat-card class="col-lg-12 row example-card parent">
        <div class="block child"> 
          <p style="margin-top: 20px;">Item Catgeories</p>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color: gray;">
            <mat-label style="color: gray;">Item Name</mat-label>
            <mat-icon style="color :gray" matSuffix>developer_board</mat-icon>          
            <input matInput  [(ngModel)]="item_name" required>
          </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color: gray;">
            <mat-label style="color: gray;">Item Description</mat-label>
            <mat-icon style="color :gray" matSuffix>description</mat-icon>          
            <input matInput   [(ngModel)]="item_description" required>
          </mat-form-field>
          <mat-form-field appearance="legacy" class="col-md-12 mat-form-wrap" >
            <mat-label> --Select ReportingName--</mat-label>
            <mat-select  matNativeControl requireds [(ngModel)]="item_reporting_name">
              <mat-option *ngFor="let emp of employee" [value]="emp.empregistration_name">{{emp.empregistration_name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap">
            <input matInput [matDatepicker]="picker"  [(ngModel)]="item_active_from" placeholder="Active from" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div class="col-12">
            <mat-label style="font-size: 20px;">Status    :</mat-label>
            <mat-radio-group aria-label="Select an option" [(ngModel)]="item_status">
              <mat-radio-button style="margin-left: 10px;" value="Active">Active</mat-radio-button>
              <mat-radio-button style="margin-left: 10px;" value="InActive">InActive</mat-radio-button>
            </mat-radio-group>
          </div>
          <button mat-raised-button style="margin-top: 10px;" class="btn-style" (click)="onsaveclick()">{{buttoncontent}}</button>&nbsp;&nbsp;&nbsp;
          <button mat-raised-button style="margin-top: 10px;" class="btn-style" (click)="onclearclick()">Clear</button>
        </div>
      </mat-card>
    </div>
    <div class="col-lg-6">
      <div class="example-container mat-elevation-z1">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="itemcategory_id">
            <th mat-header-cell *matHeaderCellDef class="textSizes"> ID. </th>
            <td mat-cell *matCellDef="let element"> {{element.itemcategory_id}} </td>
          </ng-container>
          <ng-container matColumnDef="item_name" >
            <th mat-header-cell *matHeaderCellDef class="textSizes"> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.item_name}} </td>
          </ng-container>
          <ng-container matColumnDef="item_reporting_name">
            <th mat-header-cell *matHeaderCellDef class="textSizes"> Reporting Name </th>
            <td mat-cell *matCellDef="let element"> {{element.item_reporting_name}} </td>
          </ng-container>
          <ng-container matColumnDef="item_status">
            <th mat-header-cell *matHeaderCellDef class="textSizes"> Status </th>
            <td mat-cell *matCellDef="let element,let i=index;"> {{element.item_status}} </td>
          </ng-container>
          <ng-container matColumnDef="actions"> 
            <th mat-header-cell *matHeaderCellDef class="textSizes">Edit</th>
            <td mat-cell *matCellDef="let element; let i=index;"> 
              <button mat-icon-button style="color:gray;margin-right: 10px;" (click)="RowSelected(i,element.itemcategory_id,element.item_name,element.item_description,element.item_reporting_name,element.item_status,element.item_active_from)">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>