<div class="container"> 
  <div class="row">
    <mat-card class="example-card">
      <div class="row">
        <div class="col-md-6" >
          <div class="col-12 text-center">
            <p>Running Tables</p>
          </div>
          <div class="col-md-12" style="padding-top: 10px;overflow: auto; height: 400px;">
            <button *ngFor="let room of tables"  [ngStyle]="{'background-color':room.BACKGROUND_COLOR}"  mat-raised-button  class="button-style colors" name="room.table_name" (click)="onbuttonclick($event,room.table_name)">{{room.table_name}}</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-12 text-center">
            <label class="col-3">Table No :</label>
            <label class="col-3" >{{tname}}</label>
            <label class="col-4">Total Amount :</label>
            <label class="col-2">{{amount}}</label>
          </div>
          <div class="example-container mat-elevation-z1">
            <table mat-table [dataSource]="dataSource">
              <!-- ItemName Column -->
              <ng-container matColumnDef="order_itemname">
                <th mat-header-cell *matHeaderCellDef> ItemName </th>
                <td mat-cell *matCellDef="let element"> {{element.order_itemname}} </td>
              </ng-container>
              <!-- Rate Column -->
              <ng-container matColumnDef="order_rate">
                <th mat-header-cell *matHeaderCellDef> Rate </th>
                <td mat-cell *matCellDef="let element"> {{element.order_rate}} </td>
              </ng-container>
              <!-- Tax column -->
              <ng-container matColumnDef="order_tax">
                <th mat-header-cell *matHeaderCellDef> Tax </th>
                <td mat-cell *matCellDef="let element"> {{element.order_tax}} </td>
              </ng-container>
              <!-- Quantity -->
              <ng-container matColumnDef="order_quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let element"> {{element.order_quantity}} </td>
              </ng-container>
              <!-- Code Column -->
              <ng-container matColumnDef="order_totalamount">
                <th mat-header-cell *matHeaderCellDef> Total </th>
                <td mat-cell *matCellDef="let element"> {{element.order_totalamount}} </td>
              </ng-container>
              <!-- <tr mat-header-row *matHeaderRowDef="displayedHeading; sticky: true"></tr> -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </div>
        <div class="col-6 text-center">
          <button mat-raised-button class="btn-styleoffer" (click)="onofferclick('AvailOffers',{})">Available Offers</button>
        </div>
        <div class="col-6 text-center">
          <button mat-raised-button class="btn-style" (click)="onsaveclick()">Print</button>
        </div>
      </div>
    </mat-card>
  </div>
</div>