<div class="container">
  <div class="row">
    <div class="col-md-6">
      <mat-card class="row example-card parent">
        <div class="block child">
          <p style="margin-top: 20px;">Wallets Definition</p>
            <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" >
              <mat-icon style="color:gray;" matSuffix>code</mat-icon>
              <mat-label style="color :gray">Wallet Code</mat-label>
              <input style="color :gray" [(ngModel)]="wallet_code" name="wallet_code" type="text" matInput required>
            </mat-form-field>
            <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" >
              <mat-icon style="color:gray;" matSuffix>account_balance_wallet</mat-icon>
              <mat-label style="color :gray">Wallet Name</mat-label>
              <input style="color :gray" [(ngModel)]="wallet_name" name = "wallet_name" type="text" matInput required>
            </mat-form-field>
            <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray">
              <mat-label style="color :gray">Employee Name</mat-label>
              <mat-select style="color :gray" [(ngModel)]="empregistration_name" disableRipple>
                <mat-option *ngFor="let emp of emplist" [value]="emp.empregistration_name">{{emp.empregistration_name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="col-md-12">
              <mat-label style="font-size: 20px;">Status    :</mat-label>&nbsp;&nbsp;
              <mat-radio-group name = "wallet_status" [(ngModel)]="wallet_status" aria-label="wallet_status" required>
                <mat-radio-button style="margin-left: 20px" value="Active">Active</mat-radio-button>
                <mat-radio-button style="margin-left: 20px" value="InActive">InActive</mat-radio-button>
              </mat-radio-group>
            </div>
            <button mat-raised-button style="margin-top: 10px;" class="btn-style" (click)="onsave()">{{buttoncontent}}</button>&nbsp;&nbsp;&nbsp;
            <button mat-raised-button style="margin-top: 10px;" class="btn-style" (click)="onclear()">Clear</button>
        </div>
      </mat-card>
    </div>
    <div class="col-md-6">
      <div class="example-container mat-elevation-z1">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="wallet_id">
            <th mat-header-cell *matHeaderCellDef> S.No  </th>
            <td mat-cell *matCellDef="let element"> {{element.wallet_id}} </td>
          </ng-container>
          <ng-container matColumnDef="wallet_code">
            <th mat-header-cell *matHeaderCellDef> Wallet Code </th>
            <td mat-cell *matCellDef="let element"> {{element.wallet_code}} </td>
          </ng-container>
          <ng-container matColumnDef="wallet_name">
            <th mat-header-cell *matHeaderCellDef> Wallet Name </th>
            <td mat-cell *matCellDef="let element"> {{element.wallet_name}} </td>
          </ng-container>
          <ng-container matColumnDef="wallet_reporting_name">
            <th mat-header-cell *matHeaderCellDef> Reporting Name </th>
            <td mat-cell *matCellDef="let element"> {{element.wallet_reporting_name}} </td>
          </ng-container>
          <ng-container matColumnDef="wallet_status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.wallet_status}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element; let i=index;">
              <button mat-icon-button style="color:gray;margin-right: 10px;" (click)="RowSelected(i,element.wallet_id,element.wallet_code,element.wallet_name,element.wallet_reporting_name,element.wallet_status)">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>
              <!-- <button mat-icon-button style="color:gray;margin-right: 10px;" (click)="RowDeleted(i,element.taxid,element.taxname,element.percentage,element.reportname,element.activefrom,element.status)">
                <mat-icon aria-label="Edit">delete</mat-icon>
              </button> -->
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
  