
   <div class="container">
    <div class="row">
      <div class="col-md-6">
        <mat-card class="row example-card parent">
          <p style="margin-top: 20px; margin-left: 15px; color: gray; font-size: 24px;">Table Transfer</p>
          <div class="row col-md-12">
            <mat-form-field class="col-md-6 mat-form-wrap" style="color :gray">
              <mat-label style="color :gray">Occupied Tables</mat-label>
              <mat-select style="color :gray" [(ngModel)]="occupiedtablen" (ngModelChange)="onOccupiedChange()" disableRipple>
                <mat-option *ngFor="let occ of occupiedlist" [value]="occ.table_name">{{occ.table_name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-6 mat-form-wrap" style="color :gray">
              <mat-label style="color :gray">Occupied Tables</mat-label>
              <mat-select style="color :gray" [(ngModel)]="occupiedtablen" (ngModelChange)="onOccupiedChange()" disableRipple>
                <mat-option *ngFor="let occ of occupiedlist" [value]="occ.table_name">{{occ.table_name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card>
      </div>
      
      <div class="col-md-6">
        <div class="example-containerr mat-elevation-z8">
            <table mat-table [dataSource]="dataSource2">
              <ng-container matColumnDef="order_id">
                <th mat-header-cell *matHeaderCellDef> Id  </th>
                <td mat-cell *matCellDef="let element"> {{element.order_id}} </td>
              </ng-container>
              <ng-container matColumnDef="order_itemname">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.order_itemname}} </td>
              </ng-container>
              <ng-container matColumnDef="order_quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let element"> {{element.order_quantity}} </td>
              </ng-container>
              <ng-container matColumnDef="order_rate">
                <th mat-header-cell *matHeaderCellDef> Rate </th>
                <td mat-cell *matCellDef="let element"> {{element.order_rate}} </td>
              </ng-container>
              <ng-container matColumnDef="order_totalamount">
                <th mat-header-cell *matHeaderCellDef> Total Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.order_totalamount}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>
        </div>
      </div>
      <div class="col-md-6">
        <div class="example-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="order_id">
                <th mat-header-cell *matHeaderCellDef> Id  </th>
                <td mat-cell *matCellDef="let element"> {{element.order_id}} </td>
              </ng-container>
              <ng-container matColumnDef="order_itemname">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.order_itemname}} </td>
              </ng-container>
              <ng-container matColumnDef="order_quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity</th>
                <td mat-cell *matCellDef="let element"> {{element.order_quantity}} </td>
              </ng-container>
              <ng-container matColumnDef="order_rate">
                <th mat-header-cell *matHeaderCellDef> Rate </th>
                <td mat-cell *matCellDef="let element"> {{element.order_rate}} </td>
              </ng-container>
              <ng-container matColumnDef="order_totalamount">
                <th mat-header-cell *matHeaderCellDef> Total Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.order_totalamount}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
      </div>
      <button mat-raised-button class="btn-style" (click)="ontransferclick()">Transfer</button>
      <button mat-raised-button class="clearbtn-style" (click)="onsaveclick()">Save</button>
    </div>
  </div>
  
