<div class="container">
  <div class="row">
    <div class="col-md-12">
      <mat-card class="row example-card parent">
        <div class="block child">
          <p style="margin-top: 20px;">Table Transfer</p>
          <mat-form-field class="col-md-6 mat-form-wrap" style="color :gray">
            <mat-label style="color :gray">Occupied Tables</mat-label>
            <mat-select style="color :gray" [(ngModel)]="occupiedtablen" (ngModelChange)="onOccupiedChange()" disableRipple>
              <mat-option *ngFor="let occ of occupiedlist" [value]="occ.table_name">{{occ.table_name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-6 mat-form-wrap" style="color :gray">
            <mat-label style="color :gray">Vacant Tables</mat-label>
            <mat-select style="color :gray" [(ngModel)]="vacanttablen" (ngModelChange)="onVacantChange()" disableRipple>
              <mat-option *ngFor="let vac of vacantlist" [value]="vac.table_name">{{vac.table_name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card>
    </div>
    <div class="col-md-6">
      <div class="example-container mat-elevation-z1">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="order_id">
              <th mat-header-cell *matHeaderCellDef> Id  </th>
              <td mat-cell *matCellDef="let element"> {{element.order_id}} </td>
            </ng-container>
            <ng-container matColumnDef="order_itemname">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.order_itemname}} </td>
            </ng-container>
            <ng-container matColumnDef="order_quantity">
              <th mat-header-cell *matHeaderCellDef> Quantity</th>
              <td mat-cell *matCellDef="let element"> {{element.order_quantity}} </td>
            </ng-container>
            <ng-container matColumnDef="order_rate">
              <th mat-header-cell *matHeaderCellDef> Rate </th>
              <td mat-cell *matCellDef="let element"> {{element.order_rate}} </td>
            </ng-container>
            <ng-container matColumnDef="order_totalamount">
              <th mat-header-cell *matHeaderCellDef> Total Amount </th>
              <td mat-cell *matCellDef="let element"> {{element.order_totalamount}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="example-containerr mat-elevation-z1">
          <table mat-table [dataSource]="dataSource2">
            <ng-container matColumnDef="order_id">
              <th mat-header-cell *matHeaderCellDef> Id  </th>
              <td mat-cell *matCellDef="let element"> {{element.order_id}} </td>
            </ng-container>
            <ng-container matColumnDef="order_itemname">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.order_itemname}} </td>
            </ng-container>
            <ng-container matColumnDef="order_quantity">
              <th mat-header-cell *matHeaderCellDef> Quantity </th>
              <td mat-cell *matCellDef="let element"> {{element.order_quantity}} </td>
            </ng-container>
            <ng-container matColumnDef="order_rate">
              <th mat-header-cell *matHeaderCellDef> Rate </th>
              <td mat-cell *matCellDef="let element"> {{element.order_rate}} </td>
            </ng-container>
            <ng-container matColumnDef="order_totalamount">
              <th mat-header-cell *matHeaderCellDef> Total Amount </th>
              <td mat-cell *matCellDef="let element"> {{element.order_totalamount}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
          </table>
      </div>
    </div>
    <div class="col-md-12" style="text-align: center">
      <button mat-raised-button style="margin-top: 10px;" class="btn-style" (click)="ontransferclick()">Transfer</button>&nbsp;&nbsp;&nbsp;
      <button mat-raised-button style="margin-top: 10px;" class="btn-style" (click)="onsaveclick()">Save</button>&nbsp;&nbsp;&nbsp;
      <button mat-raised-button style="margin-top: 10px;" class="btn-style" (click)="onclear()">Clear</button>
    </div>
  </div>
</div>