<div class="container">
  <div class="row" style="margin: 0 auto;">
    <div class="col-xl-4" style="margin: 0 auto;">
      <mat-card class="row example-card parent mat-elevation-z3">
        <div class="block child">
          <img [src]="imageUrl" style="width: 100px;margin-top: 20px;">
          <p style="margin-top: 13px;font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;">VelFoods</p>
          <!-- <span style="font-size: 32px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; color:black; " >Login </span> -->
          <mat-form-field class="col-md-12" style="color :gray;" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="username" name="username">
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
          <mat-form-field class="col-md-12" style="color :gray;" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="password" name="password">
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
          <button mat-raised-button style="margin-top: 5px;" class="btn-style" (click)="onsaveclick()" routerLink="/Sidenav-Toolbar" routerLinkActive = "active">Save</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>