.form{
    margin-left: 15px;
    padding: 10px;
}
.dic{
    width: 100%;
}
.mainwrap{
    padding-top: 50px;
    height: 400px;
    width: 80%;
    margin:auto;
    margin-top: 120px;
    text-align: center;
    margin-left: 300px;
}