<div class="container">
  <div class="row">
    <div class="col-lg-6">
  
      <mat-card class="col-lg-6" class="mainwrap">
  
          <span style="font-size: 32px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; color:black; " >Login </span>
        <div class="dic">
          <mat-form-field appearance="legacy" class="form">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Placeholder" [(ngModel)]="username" name="username">
              <mat-icon matSuffix>account_circle</mat-icon>
             
            </mat-form-field>
          </div>
          <div class="dic">
            <mat-form-field appearance="legacy" class="form">
                <mat-label>password</mat-label>
                <input matInput placeholder="Placeholder" [(ngModel)]="password" name="password">
                <mat-icon matSuffix>lock</mat-icon>
                
              </mat-form-field>
            </div>
            <div class="btn-style">
                <button mat-raised-button style="width: 150px;height:40px;margin-top:20px; " color="primary" (click)="onsaveclick()">save</button>
            </div>
      </mat-card>
      <div class="col-lg-6">
  <button mat-raised-button class="btn-style" (click)="onsaveclick()"></button>
      </div>
    </div>
  </div>
  </div>

