<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-card class="example-card">
        <div class="col-12 mat-form-wrap">
          <div class="main">
            <p style="margin-top : 20px;">Offer Adding</p>
          </div>
          <div class="row col-md-12">
            <mat-form-field class="col-md-4 mat-form-wrap" style="color: gray;margin-left: 0px;margin-right: 0px;">
              <mat-label style="color: gray;">Promo Code Name</mat-label>
              <input style="color: gray;" [(ngModel)]="promo_name" type="text" name="promo_name" matInput >
              <mat-icon style="color: gray;" matSuffix>code</mat-icon>
              <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
            </mat-form-field>
            <mat-form-field class="col-md-4 mat-form-wrap" style="color: gray;margin-left: 0px;margin-right: 0px;">
              <mat-label style="color: gray;">Promo Code</mat-label>
              <input style="color: gray;" [(ngModel)]="promo_code" type="text" name="promo_code" matInput >
              <mat-icon style="color: gray;" matSuffix>code</mat-icon>
              <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
            </mat-form-field>
            <mat-form-field class="col-md-4 mat-form-wrap" style="color:gray;margin-left: 0px;margin-right: 0px;">
              <mat-label style="color: gray;">Percentage</mat-label>
              <input style="color: gray;" [(ngModel)]="percentage" type="number" name="percentage" matInput [disabled]="per_disable">
              <mat-icon style="color: gray;" matSuffix>business</mat-icon>
              <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
            </mat-form-field>
          </div>
          <!-- FromDate To ToDate -->
          <div class="border_wrap">
            <div class="row heading_wrap">
              <div class="col-6">
                <label class="labels_style" >Valid From & To Dates</label>
              </div>
              <div class="col-6" style="position: relative">
                <mat-slide-toggle class="slidetoggle_wrap" name="dates_slide" [(ngModel)]="dates_slide" [color]="color" (change)="onDatesValid()" [disabled]="dates_disable"></mat-slide-toggle>
              </div>
            </div>
            <div class="row col-md-12" style="padding-top: 10px;padding-bottom:5px;">
              <mat-form-field class="col-md-4 mat-form-wrap" style="color :gray">
                <mat-label style="color :gray">From Date</mat-label>
                <input style="color :gray" [matDatepicker]="picker" [(ngModel)]="from_date" name="from_date" [disabled]="from_date_disable" matInput>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="col-md-4 mat-form-wrap" style="color :gray">
                <mat-label style="color :gray">To Date</mat-label>
                <input style="color :gray" [matDatepicker]="picker2" [(ngModel)]="to_date" name="to_date" [disabled]="to_date_disable" matInput>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <!-- FromTime ToTime -->
          <div class="border_wrap">
            <div class="row heading_wrap">
              <div class="col-6">
                <label class="labels_style">Valid From & To Times</label>
              </div>
              <div class="col-6" style="position: relative">
                <mat-slide-toggle class="slidetoggle_wrap" name="times_slide" [(ngModel)]="times_slide" [color]="color" (change)="onTimesValid()" ></mat-slide-toggle>
              </div>
            </div>
            <div class="row col-md-12" style="padding-top: 10px;padding-bottom:5px;">
              <mat-form-field class="col-md-4 mat-form-wrap" style="color: gray;margin-left: 0px;margin-right: 0px;">
                <mat-label style="color: gray;">From Time</mat-label>
                <mat-icon style="color: gray;" matSuffix>timer</mat-icon>
                <input matInput type="time" atp-time-picker name="from_time" value="from_time" style="color: gray;" [ngModel]="from_time" (click)="opentime()" [disabled]="from_time_disable">
                <!-- #from_time="ngModel" -->
                <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
              </mat-form-field>
              <mat-form-field class="col-md-4 mat-form-wrap" style="color: gray;margin-left: 0px;margin-right: 0px;">
                <mat-label style="color: gray;">To Time</mat-label>
                <mat-icon style="color: gray;" matSuffix>timer</mat-icon>
                <input matInput type="time" atp-time-picker name="to_time" value="to_time" style="color: gray;" [ngModel]="to_time" (click)="opentotime()" [disabled]="to_time_disable">
                <!-- #to_time="ngModel" -->
                <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
              </mat-form-field>
            </div>
          </div>
          <!-- Days Selection -->
          <div class="border_wrap">
            <div class="row heading_wrap">
              <div class="col-6">
                <label class="labels_style">Select offer Application Days</label>
              </div>
              <div class="col-6" style="position: relative">
                <mat-slide-toggle class="slidetoggle_wrap" name="days_slide" [(ngModel)]="days_slide" [color]="color" (change)="onDaysValid()" [disabled]="days_disable"></mat-slide-toggle>
              </div>
            </div>
            <div class="row col-md-12" style="padding-top: 10px;padding-bottom: 5px;">
              <mat-form-field class="col-md-4 mat-form-wrap">
                <mat-label>Select Type</mat-label>
                <mat-select style="color :gray" [(ngModel)] = "daysSelected" (ngModelChange)="ondayschanged($event)" [disabled]="daysSelected_disable" disableRipple>
                  <mat-option style="color :gray" value="WeekEnds">WeekEnds</mat-option>
                  <mat-option style="color :gray" value="WeekDays">WeekDays</mat-option>
                  <mat-option style="color :gray" value="AllDays">AllDays</mat-option>
                  <mat-option style="color :gray" value="ParticularDays">ParticularDays</mat-option>
                </mat-select>
                <!-- <mat-select [(ngModel)] = "classSelected">
                  <mat-option>Class</mat-option>
                  <mat-option *ngFor="let class of classes" [value]="class.class_id">{{class.class_name}}</mat-option>
                </mat-select> -->
              </mat-form-field>
              <section class="col-md-8">
                <mat-checkbox [(ngModel)]="monday" [disabled] ="mon_disable" class="mat-checkbox"><label class="mat-checkboxlabel">Monday</label></mat-checkbox>
                <mat-checkbox [(ngModel)]="tuesday" [disabled] ="tue_disable" class="mat-checkbox"><label class="mat-checkboxlabel">Tuesday</label></mat-checkbox>
                <mat-checkbox [(ngModel)]="wednesday" [disabled] ="wed_disable" class="mat-checkbox"><label class="mat-checkboxlabel">Wednesday</label></mat-checkbox>
                <mat-checkbox [(ngModel)]="thursday" [disabled] ="thur_disable" class="mat-checkbox"><label class="mat-checkboxlabel">Thursday</label></mat-checkbox>
                <mat-checkbox [(ngModel)]="friday" [disabled] ="fri_disable" class="mat-checkbox"><label class="mat-checkboxlabel">Friday</label></mat-checkbox>
                <mat-checkbox [(ngModel)]="saturday" [disabled] ="sat_disable" class="mat-checkbox"><label class="mat-checkboxlabel">Saturday</label></mat-checkbox>
                <mat-checkbox [(ngModel)]="sunday" [disabled] ="sun_disable" class="mat-checkbox"><label class="mat-checkboxlabel">Sunday</label></mat-checkbox>
              </section>
            </div>
          </div>
          <div class="border_wrap">
            <div class="row heading_wrap">
              <div class="col-6">
                <label class="labels_style">Select Minimum Billing Amount</label>
              </div>
              <div class="col-6" style="position: relative">
                <mat-slide-toggle class="slidetoggle_wrap" name="minbill_slide" [(ngModel)]="minbill_slide" [color]="color" (change)="onMinBillValid()"></mat-slide-toggle>
              </div>
            </div>
            <div class="row col-md-12" style="padding-top: 10px;padding-bottom:5px;">
              <mat-form-field class="col-md-4 mat-form-wrap" style="color: gray;margin-left: 0px;margin-right: 0px;">
                <mat-label style="color: gray;">Min Billing Amount</mat-label>
                <input style="color: gray;" [(ngModel)]="minbill_amount" type="number" name="minbill_amount" matInput [disabled]="minbill_disable">
                <mat-icon style="color: gray;" matSuffix>monetization_on</mat-icon>
                <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
              </mat-form-field>
            </div>
          </div>
          <div class="border_wrap">
            <div class="row heading_wrap">
              <div class="col-6">
                <label class="labels_style">Maximum Discount</label>
              </div> 
              <div class="col-6" style="position: relative">
                <mat-slide-toggle class="slidetoggle_wrap" name="maxdis_slide" [(ngModel)]="maxdis_slide" [color]="color" (change)="onMaxDisValid()"></mat-slide-toggle>
              </div>
            </div>
            <div class="row col-md-12" style="padding-top: 10px;padding-bottom:5px;">
              <mat-form-field class="col-md-4 mat-form-wrap" style="color: gray;margin-left: 0px;margin-right: 0px;">
                <mat-label style="color: gray;">Maximum Discount</mat-label>
                <input style="color: gray;" [(ngModel)]="maxdis_amount" type="number" name="maxdis_amount" matInput [disabled]="maxdis_disable">
                <mat-icon style="color: gray;" matSuffix>monetization_on</mat-icon>
                <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
              </mat-form-field>
            </div>
          </div>
          <div class="row col-md-12">
            <mat-form-field class="col-md-4 mat-form-wrap" style="margin-top: 10px;margin-bottom: 5px;margin-right: 10px;">
              <mat-label>Select Type</mat-label>
              <mat-select style="color :gray" [(ngModel)] = "offerstatus">
                <mat-option style="color :gray" value="Active">Active</mat-option>
                <mat-option style="color :gray" value="InActive">In Active</mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button class="btn-style" (click)="onsaveclick()">{{buttoncontent}}</button>
            <button mat-raised-button class="btn-style" style="margin-left: 15px;" (click)="onclearclick()"> <!-- class="clearbtn-style" -->
              Clear
              <!-- <mat-icon>clear_all</mat-icon> -->
            </button>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-12">
      <div class="example-container mat-elevation-z1">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="offers_id">
            <th mat-header-cell *matHeaderCellDef> Offer Id </th>
            <td mat-cell *matCellDef="let element"> {{element.offers_id}} </td>
          </ng-container>
          <ng-container matColumnDef="promo_code_name">
            <th mat-header-cell *matHeaderCellDef> PromoCode Name</th>
            <td mat-cell *matCellDef="let element"> {{element.promo_code_name}} </td>
          </ng-container>
          <ng-container matColumnDef="promo_code">
            <th mat-header-cell *matHeaderCellDef> Promo Code </th>
            <td mat-cell *matCellDef="let element"> {{element.promo_code}} </td>
          </ng-container>
          <ng-container matColumnDef="percentage">
            <th mat-header-cell *matHeaderCellDef> Precentage </th>
            <td mat-cell *matCellDef="let element"> {{element.percentage}} </td>
          </ng-container>
          <ng-container matColumnDef="from_date">
            <th mat-header-cell *matHeaderCellDef> From Date </th>
            <td mat-cell *matCellDef="let element"> {{element.from_date}} </td>
          </ng-container>
          <ng-container matColumnDef="to_date">
            <th mat-header-cell *matHeaderCellDef> To Date </th>
            <td mat-cell *matCellDef="let element"> {{element.to_date}} </td>
          </ng-container>
          <ng-container matColumnDef="from_time">
            <th mat-header-cell *matHeaderCellDef> From Time </th>
            <td mat-cell *matCellDef="let element"> {{element.from_time}} </td>
          </ng-container>
          <ng-container matColumnDef="to_time">
            <th mat-header-cell *matHeaderCellDef> To Time </th>
            <td mat-cell *matCellDef="let element"> {{element.to_time}} </td>
          </ng-container>
          <ng-container matColumnDef="minbill_amount">
            <th mat-header-cell *matHeaderCellDef> Minimum Bill </th>
            <td mat-cell *matCellDef="let element"> {{element.minbill_amount}} </td>
          </ng-container>
          <ng-container matColumnDef="maximum_bill_amount">
            <th mat-header-cell *matHeaderCellDef> Maximum Discount </th>
            <td mat-cell *matCellDef="let element"> {{element.maximum_bill_amount}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element; let i=index;">
              <button mat-icon-button style="color:gray;margin-right: 10px;" (click)="RowSelected(i,element.offers_id,element.promo_code_name,element.promo_code,element.percentage,element.from_date,element.to_date,element.from_time,element.to_time,element.Active_dare_status,element.Active_time_status,element.minbill_status,element.maximum_bill_status,element.Day_status,element.Day_type,element.Days,element.minbill_amount,element.maximum_bill_amount,element.offers_status,element.insert_by,element.insert_date)">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>