<div class="container">
  <div class="row">
    <mat-card class="example-card">
      <div class="col-12 mat-form-wrap">
        <div class="main">
          <p style="margin-top: 20px;">Offer Adding</p>
        </div>
        <div class="row col-md-12">
          <mat-form-field class="col-md-4 mat-form-wrap" style="color: gray;margin-left: 0px;margin-right: 0px;">
            <mat-label style="color: gray;">Promo Code Name</mat-label>
            <input style="color: gray;" [(ngModel)]="In_name" type="text" name="In_name" matInput >
            <mat-icon style="color: gray;" matSuffix>business</mat-icon>
            <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
          </mat-form-field>
          <mat-form-field class="col-md-4 mat-form-wrap" style="color: gray;margin-left: 0px;margin-right: 0px;">
            <mat-label style="color: gray;">Promo Code</mat-label>
            <input style="color: gray;" [(ngModel)]="In_name" type="text" name="In_name" matInput >
            <mat-icon style="color: gray;" matSuffix>business</mat-icon>
            <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
          </mat-form-field>
          <mat-form-field class="col-md-4 mat-form-wrap" style="color: gray;margin-left: 0px;margin-right: 0px;">
            <mat-label style="color: gray;">Description</mat-label>
            <input style="color: gray;" [(ngModel)]="In_name" type="text" name="In_name" matInput >
            <mat-icon style="color: gray;" matSuffix>business</mat-icon>
            <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
          </mat-form-field>
        </div>
        <!-- FromDate To ToDate -->
        <div class="border_wrap">
          <div class="row heading_wrap">
            <div class="col-6">
              <label>Valid From & To Dates</label>
            </div>
            <div class="col-6" style="position: relative">
              <mat-slide-toggle class="slidetoggle_wrap" [color]="color" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
            </div>
          </div>
          <div class="row col-md-12">
            <mat-form-field class="col-md-4 mat-form-wrap" style="color: gray;margin-left: 0px;margin-right: 0px;">
              <mat-label style="color: gray;">From Date</mat-label>
              <input style="color: gray;" [(ngModel)]="In_name" type="text" name="In_name" matInput >
              <mat-icon style="color: gray;" matSuffix>business</mat-icon>
              <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
            </mat-form-field>
            <mat-form-field class="col-md-4 mat-form-wrap" style="color: gray;margin-left: 0px;margin-right: 0px;">
              <mat-label style="color: gray;">To Date</mat-label>
              <input style="color: gray;" [(ngModel)]="In_name" type="text" name="In_name" matInput >
              <mat-icon style="color: gray;" matSuffix>business</mat-icon>
              <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
            </mat-form-field>
          </div>
        </div>
        <!-- FromTime ToTime -->
        <div class="border_wrap">
          <div class="row heading_wrap">
            <div class="col-6">
              <label>Valid From & To Times</label>
            </div>
            <div class="col-6" style="position: relative">
              <mat-slide-toggle class="slidetoggle_wrap" [color]="color" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
            </div>
          </div>
          <div class="row col-md-12">
            <mat-form-field class="col-md-4 mat-form-wrap" style="color: gray;margin-left: 0px;margin-right: 0px;">
              <mat-label style="color: gray;">From Time</mat-label>
              <input style="color: gray;" [(ngModel)]="In_name" type="text" name="In_name" matInput >
              <mat-icon style="color: gray;" matSuffix>business</mat-icon>
              <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
            </mat-form-field>
            <mat-form-field class="col-md-4 mat-form-wrap" style="color: gray;margin-left: 0px;margin-right: 0px;">
              <mat-label style="color: gray;">To Time</mat-label>
              <input style="color: gray;" [(ngModel)]="In_name" type="text" name="In_name" matInput >
              <mat-icon style="color: gray;" matSuffix>business</mat-icon>
              <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
            </mat-form-field>
          </div>
        </div>
        <!-- Days Selection -->
        <div class="border_wrap">
          <div class="row heading_wrap">
            <div class="col-6">
              <label>Select offer Application Days</label>
            </div>
            <div class="col-6" style="position: relative">
              <mat-slide-toggle class="slidetoggle_wrap" [color]="color" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
            </div>
          </div>
          <div class="row col-md-12">
            <mat-form-field class="col-md-4 mat-form-wrap">
              <mat-label>Select Type</mat-label>
              <mat-select style="color :gray" [(ngModel)]="proof" disableRipple>
                <mat-option style="color :gray" value="VoterId">WeekEnds</mat-option>
                <mat-option style="color :gray" value="Aadhar">WeekDays</mat-option>
                <mat-option style="color :gray" value="DrivingLicence">AllDays</mat-option>
                <mat-option style="color :gray" value="PanCard">ParticularDays</mat-option>
              </mat-select>
              <!-- <mat-select [(ngModel)] = "classSelected">
                <mat-option>Class</mat-option>
                <mat-option *ngFor="let class of classes" [value]="class.class_id">{{class.class_name}}</mat-option>
              </mat-select> -->
            </mat-form-field>
            <section class="col-md-8">
              <mat-checkbox class="mat-checkbox"><label class="mat-checkboxlabel">Monday</label></mat-checkbox>
              <mat-checkbox class="mat-checkbox"><label class="mat-checkboxlabel">Tuesday</label></mat-checkbox>
              <mat-checkbox class="mat-checkbox"><label class="mat-checkboxlabel">Wednesday</label></mat-checkbox>
              <mat-checkbox class="mat-checkbox"><label class="mat-checkboxlabel">Thursday</label></mat-checkbox>
              <mat-checkbox class="mat-checkbox"><label class="mat-checkboxlabel">Friday</label></mat-checkbox>
              <mat-checkbox class="mat-checkbox"><label class="mat-checkboxlabel">Saturday</label></mat-checkbox>
              <mat-checkbox class="mat-checkbox"><label class="mat-checkboxlabel">Sunday</label></mat-checkbox>
            </section>
          </div>
        </div>
        <div class="border_wrap">
          <div class="row heading_wrap">
            <div class="col-6">
              <label>Select Offer Percentage</label>
            </div>
            <div class="col-6" style="position: relative">
              <mat-slide-toggle class="slidetoggle_wrap" [color]="color" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
            </div>
          </div>
          <div class="row col-md-12">
            <mat-form-field class="col-md-4 mat-form-wrap" style="color: gray;margin-left: 0px;margin-right: 0px;">
              <mat-label style="color: gray;">Percentage</mat-label>
              <input style="color: gray;" [(ngModel)]="In_name" type="text" name="In_name" matInput >
              <mat-icon style="color: gray;" matSuffix>business</mat-icon>
              <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
            </mat-form-field>
          </div>
        </div>
        <div class="border_wrap">
          <div class="row heading_wrap">
            <div class="col-6">
              <label>Select Minimum Billing Amount</label>
            </div>
            <div class="col-6" style="position: relative">
              <mat-slide-toggle class="slidetoggle_wrap" [color]="color" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
            </div>
          </div>
          <div class="row col-md-12">
            <mat-form-field class="col-md-4 mat-form-wrap" style="color: gray;margin-left: 0px;margin-right: 0px;">
              <mat-label style="color: gray;">Min Billing Amount</mat-label>
              <input style="color: gray;" [(ngModel)]="In_name" type="text" name="In_name" matInput >
              <mat-icon style="color: gray;" matSuffix>business</mat-icon>
              <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
            </mat-form-field>
          </div>
        </div>
        <div class="border_wrap">
          <div class="row heading_wrap">
            <div class="col-6">
              <label>Maximum Discount</label>
            </div>
            <div class="col-6" style="position: relative">
              <mat-slide-toggle class="slidetoggle_wrap" [color]="color" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
            </div>
          </div>
          <div class="row col-md-12">
            <mat-form-field class="col-md-4 mat-form-wrap" style="color: gray;margin-left: 0px;margin-right: 0px;">
              <mat-label style="color: gray;">Maximum Amount</mat-label>
              <input style="color: gray;" [(ngModel)]="In_name" type="text" name="In_name" matInput >
              <mat-icon style="color: gray;" matSuffix>business</mat-icon>
              <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>