<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <mat-card class="col-lg-12 row example-card parent">
        <div class="block child">
          <p style="margin-top: 20px;">Manager Details</p>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray">
            <!-- <mat-icon style="color :gray" matSuffix>subject</mat-icon> -->
            <mat-label style="color :gray">Manager Name</mat-label>
            <mat-icon style="color :gray" matSuffix>person</mat-icon>
            <input style="color :gray" [(ngModel)]="manger_name" type="text" pattern="^[A-Za-z]+$" ng-pattern-restrict name="manger_name" matInput>
            <!-- <mat-hint color="primary">Hint</mat-hint> -->
          </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray">
            <!-- <mat-icon style="color:gray;" matSuffix>code</mat-icon> -->
            <mat-label style="color :gray">Mobile No</mat-label>
            <mat-icon style="color :gray" matSuffix>call</mat-icon>
            <input style="color:gray;" matInput [(ngModel)]="manger_mobile_no" type="number" maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" name="manger_mobile_no">
            <!-- <mat-hint color="primary">Hint</mat-hint> -->
          </mat-form-field>
          <!-- <mat-form-field class="col-md-12 mat-form-wrap"  style="color:gray;">
            <mat-label style="color:gray;">Contact No</mat-label>
            <mat-icon style="color :gray" matSuffix>call</mat-icon>
            <input style="color:gray;" matInput [(ngModel)]="description" type="text" name="description">
          </mat-form-field> -->
          <mat-form-field class="col-md-12 mat-form-wrap">
            <mat-label>Id Proof</mat-label>
            <mat-select style="color :gray" [(ngModel)]="manger_id_proof" name="manger_id_proof" disableRipple>
              <mat-option style="color :gray" value="VoterId">VoterId</mat-option>
              <mat-option style="color :gray" value="Aadhar">Aadhar</mat-option>
              <mat-option style="color :gray" value="DrivingLicence">DrivingLicence</mat-option>
              <mat-option style="color :gray" value="PanCard">PanCard</mat-option>
              <mat-option style="color :gray" value="Passport">Passport</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap"  style="color:gray;">
            <mat-label style="color:gray;">Id Proof No</mat-label>
            <mat-icon style="color :gray" matSuffix>person</mat-icon>
            <input style="color:gray;" matInput [(ngModel)]="manger_id_no" type="text" name="manger_id_no">
          </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray"  >
            <mat-label style="color :gray">Restaurant</mat-label>
             <mat-select [(ngModel)]="restaurent_id" > 
              <mat-option *ngFor="let re of restaurents" [value]="re.restaurent_id">{{re.restaurent_name}}</mat-option> 
            </mat-select>
          </mat-form-field>
          <div class="col-12">
            <mat-label style="font-size: 20px;">Status    :</mat-label>
            <mat-radio-group aria-label="Select an option" [(ngModel)]="manger_status" name="manger_status">
              <mat-radio-button style="margin-left: 10px" value="Active">Active</mat-radio-button>
              <mat-radio-button style="margin-left: 10px" value="InActive">InActive</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-12">
            <button mat-raised-button class="btn-style" (click)="onsaveclick()">{{buttoncontent}}</button>&nbsp;&nbsp;&nbsp;
            <button mat-raised-button class="btn-style" (click)="onclearclick()">Clear</button>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-lg-6">
      <div class="example-container mat-elevation-z1">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="manger_id">
            <th mat-header-cell *matHeaderCellDef class="textSizes"> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.manger_id}} </td>
          </ng-container>
          <ng-container matColumnDef="manger_name">
            <th mat-header-cell *matHeaderCellDef class="textSizes"> Manager Name </th>
            <td mat-cell *matCellDef="let element"> {{element.manger_name}} </td>
          </ng-container>
          <ng-container matColumnDef="restaurent_id">
            <th mat-header-cell *matHeaderCellDef class="textSizes"> Restaurant </th>
            <td mat-cell *matCellDef="let element"> {{element.restaurent_id}} </td>
          </ng-container>
          <ng-container matColumnDef="manger_mobile_no">
            <th mat-header-cell *matHeaderCellDef class="textSizes"> Mobile No </th>
            <td mat-cell *matCellDef="let element"> {{element.manger_mobile_no}} </td>
          </ng-container>
          <ng-container matColumnDef="manger_status">
            <th mat-header-cell *matHeaderCellDef class="textSizes"> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.manger_status}} </td>
          </ng-container>
          <!-- actions -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="textSizes">Edit</th>
            <td mat-cell *matCellDef="let element; let j=index;"> 
              <button mat-icon-button style="color:gray;margin-right: 10px;" (click)="RowSelected(j,element.manger_id,element.manger_name,element.restaurent_id,element.manger_mobile_no,element.manger_id_proof,element.manger_id_no,element.manger_status)">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>