<div class="container">
  <div class="row">
    <div class="col-md-6">
      <mat-card class="row example-card parent">
        <div class="block child">
          <p style="margin-top: 20px; margin-left: 15px; color: gray; font-size: 24px;">Table Booking</p>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" >
            <mat-icon  style=color:gray matSuffix>person</mat-icon>
            <mat-label style="color :gray">Name</mat-label>
            <input style="color :gray"  type="text" [(ngModel)]="tablebookingf_name" name="tablebookingf_name"  matInput>
          </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" >
            <mat-icon  style=color:gray matSuffix>format_list_numbered</mat-icon>
            <mat-label style="color :gray">Pax</mat-label>
            <input style="color :gray"  type="text" [(ngModel)]="tablebooking_pax" name="tablebooking_pax"  matInput>
          </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" >
            <mat-icon  style=color:gray matSuffix>call</mat-icon>
            <mat-label style="color :gray">Mobile</mat-label> 
            <input style="color :gray"  type="text" [(ngModel)]="tablebooking_mobile_no" name="tablebooking_mobile_no"  matInput>
          </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" >
              <mat-icon  style=color:gray matSuffix>monetization_on</mat-icon>
              <mat-label style="color :gray">Advance</mat-label> 
              <input style="color :gray"  type="text" [(ngModel)]="tablebooking_advance" name="tablebooking_advance"  matInput>
            </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" >
            <mat-label style="color :gray">Date</mat-label>
            <input style="color :gray" [(ngModel)]="tablebooking_date" [matDatepicker]="picker" matInput required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="col-md-12" style="color: gray;" >
            <mat-label style="color: gray;">Time</mat-label>
            <mat-icon style="color :orange" matSuffix>timer</mat-icon>
            <input matInput type="time" atp-time-picker  name="tablebooking_time"  [(ngModel)]="tablebooking_time" >
          </mat-form-field>
          <!-- <mat-form-field class="col-md-12" style="color: gray;" >
            <input mat-datetime-picker="" date="false" time="true" type="text" id="time" short-time="true"
            placeholder="Time" min-date="minDate" format="hh:mm a" ng-model="tablebooking_time"
            readonly="readonly" matInput> 
          </mat-form-field> -->
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray"  >
            <mat-label style="color :gray">Restaurant</mat-label>
             <mat-select [(ngModel)]="restaurent_id" > 
              <mat-option *ngFor="let re of restaurents" [value]="re.restaurent_id">{{re.restaurent_name}}</mat-option> 
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" >
            <mat-icon  style=color:gray matSuffix>note_add</mat-icon>
            <mat-label style="color :gray">Spl Instructions</mat-label> 
            <input style="color :gray"  type="text" [(ngModel)]="tablebooking_splinstructions" name="tablebooking_splinstructions"  matInput>
          </mat-form-field>
          <button mat-raised-button class="btn-style" (click)="onsubmitclick()">{{buttoncontent}}</button>
          <button mat-icon-button class="clearbtn-style" (click)="onclearclick()">
            <mat-icon>clear_all</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
    <div class="col-lg-6">
      <div class="example-container mat-elevation-z1">
        <table mat-table [dataSource]="abDatasource">
          <ng-container matColumnDef="table_booking_id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let i"> {{i.table_booking_id}} </td>
          </ng-container>
          <ng-container matColumnDef="tablebookingf_name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let i"> {{i.tablebookingf_name}} </td>
          </ng-container>
          <ng-container matColumnDef="tablebooking_pax">
            <th mat-header-cell *matHeaderCellDef> Pax </th>
            <td mat-cell *matCellDef="let i"> {{i.tablebooking_pax}} </td>
          </ng-container>
          <ng-container matColumnDef="tablebooking_date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let i"> {{i.tablebooking_date}} </td>
          </ng-container>
          <ng-container matColumnDef="tablebooking_time">
            <th mat-header-cell *matHeaderCellDef> Time </th>
            <td mat-cell *matCellDef="let i"> {{i.tablebooking_time}} </td>
          </ng-container>
          <ng-container matColumnDef="tablebooking_mobile_no">
            <th mat-header-cell *matHeaderCellDef> Mobile No </th>
            <td mat-cell *matCellDef="let i"> {{i.tablebooking_mobile_no}} </td>
          </ng-container>
          <ng-container matColumnDef="restaurent_id">
            <th mat-header-cell *matHeaderCellDef> Restaurant </th>
            <td mat-cell *matCellDef="let i"> {{i.restaurent_id}} </td>
          </ng-container>
          <!-- actions -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let i; let j=index;"> 
              <button mat-icon-button style="color:gray;margin-right: 10px;" (click)="RowSelected(j,i.table_booking_id,i.tablebooking_date,i.tablebooking_time,i.tablebookingf_name,i.tablebooking_pax,i.restaurent_id,i.tablebooking_mobile_no,i.tablebooking_advance,i.tablebooking_splinstructions)">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>
              <button mat-icon-button style="color:gray;margin-right: 10px;" (click)="NavigateClick(j,i.date,i.time,i.name,i.pax,i.restaurant,i.phoneno,i.advance)" routerLink="/ordering" routerLinkActive = "active">
                <mat-icon >open_in_new</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
