.vl {
    border-left: 2px solid black;
    height: 440px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 100;
    margin-top: 150px;
  }
  .table {
    width: 100%;
    margin-top: 20px;
  }
  .example-container{
    overflow:auto;
    height: 500px;
  }
  .example-card{
    /* background-color: white; */
    margin-top: 3px;
  }
  .mat-form-wrap{
    width: 40%;
    margin: 0px;
  }
  .btn-style{
    background-color: #33B5E5;
    color: white;
    width: 200px;
    height: 50px;
    margin-left: 100px;
    margin-bottom: -90px;
    font-size: 18px;
  }
  .btn-style1{
    background-color: #33B5E5;
    color: white;
    width: 200px;
    height: 50px;
    margin-top: 0px;
    margin-left: 80px;
    font-size: 18px;
  }
  .btn-style2{
    background-color: #33B5E5;
    color: white;
    width: 200px;
    height: 50px;
    margin-top: 0px;
    margin-left: 60px;
    font-size: 18px;
  }
  .parent{
    text-align:center;
    height:900px;
  }
  .block {
    width: 80%;
  }
  .child {
    margin:auto;
  }