<div class="container">
  <div class="col-lg-6" class="left">
  <mat-card class="wrap">
    <mat-card-title style="font-size: 20px; font-weight:bolder;">Tableview</mat-card-title>
    <mat-divider style="font-size: 1px; " class="mat-divider"></mat-divider>
    <div class="col-md-12" style="padding-top: 10px;overflow: auto; height: 300px;">
      <button *ngFor="let room of rooms" [ngClass]="getmystyles()"  [color]="room.BACKGROUND_COLOR" mat-raised-button  class="button-style colors" name="room.ROOM_NO" (click)="onbuttonclick($event,room.ROOM_NO)">{{room.ROOM_NO}}</button>
    </div>
    <div class="col-md-12 mat-form-field btn-count ">
      <div class="col-md-4 mat-form-field btn-count">
      <button mat-mini-fab color="warn">1</button>
      <mat-label class="mat-form-field" style="font-size: 20px; font-weight:bold;">Repair</mat-label>
      </div>
      <div class="col-md-4 mat-form-field btn-count" >
      <button mat-mini-fab [ngStyle]="{'background-color':'green'}">1</button>
      <mat-label class="mat-form-field" style="font-size: 20px; font-weight:bold;">vacunt</mat-label>
       </div>
       <div class="col-md-4 mat-form-field btn-count">
      <button mat-mini-fab [ngStyle]="{'background-color':'orange'}" >1</button>
      <mat-label class="mat-form-field" style="font-size: 20px; font-weight:bold;">occupied</mat-label>
      </div>
    </div>
    <div class="col-md-12 mat-form-field btn-count">
      <div class="col-md-6 mat-form-field btn-count">
        <button mat-mini-fab color="primary" >1</button>
        <mat-label class="mat-form-field" style="font-size: 20px; font-weight:bold;">Billing</mat-label>
       </div>
      <div class="col-md-6 mat-form-field btn-count">
          <button mat-mini-fab color="accent">1</button>
        <mat-label class="mat-form-field" style="font-size: 20px; font-weight:bold;">Reservation</mat-label>
      </div>
    </div>
    <!-- <mat-button-toggle-group name="fontStyle" ([ngModel])="roomselected" aria-label="Font Style">
      <mat-button-toggle *ngFor="let room of rooms" [value]="room.ROOM_NO">{{room.ROOM_NO}}</mat-button-toggle>
    </mat-button-toggle-group> -->
  </mat-card>
  </div>
  </div>
  <!-- itemsselectionmatcard -->
  <div class="col-lg-6" class="right">
  <mat-card  class="subwrap" >
    <div class="container">
      <div class="row col-md-12">
        <div class="col-md-6 mat-form-field ">
          <mat-label class="mat-form-field" style="font-size: 20px; font-weight:bold; margin-top: 10px;">Resturant:</mat-label>
        </div>
        <div class="col-md-6 mat-form-field">
          <mat-form-field appearance="legacy" class="mat-form-field">
              <mat-label>Select a Resturant</mat-label>
              <mat-select  matNativeControl requireds>
                  <mat-option value="greenbawarchi">greenbawarchi</mat-option>
                  <mat-option value="angara">angara</mat-option>
                  <mat-option value="laforst">laforst</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
      </div>
      <div class="row col-md-12"> 
        <div class="col-md-3 mat-form-field">
          <mat-label class="mat-form-field" style="font-size: 20px; font-weight:bold; margin-left: 0px;" >Table:</mat-label>
        </div>
        <div class="col-md-3 mat-form-field">
          <input type="text" style=" width: 50px; " placeholder="28" >
        </div>
        <div class="col-md-3 mat-form-field">
          <mat-label class="mat-form-field" style="font-size: 20px; font-weight:bold; margin-left: 30px;" >Pax:</mat-label>
        </div>
        <div class="col-md-3 mat-form-field">
          <input type="text" style="width: 50px;" placeholder="5" >
        </div>
        <div class="col-md-3 mat-form-field">
          <mat-label class="mat-form-field" style="font-size: 20px; font-weight:bold; margin-left: 30px;" >Kot:</mat-label>
        </div>
        <div class="col-md-3 mat-form-field">
          <input type="text" style="width: 50px; " placeholder="1"  >
        </div>
      </div>
      <div class="row col-md-12 mat-form-field">
        <div class="col-md-3 mat-form-field">
            <mat-label class="mat-form-field" style="font-size: 20px; font-weight:bold; margin-top: 10px;">Captian:</mat-label>
        </div>
        <div class="col-md-3 mat-form-field">
            <mat-form-field appearance="legacy" class="mat-form-field">
                <mat-label>Select a Captian</mat-label>
                <mat-select  matNativeControl requireds>
                    <mat-option value="srikar">srikar</mat-option>
                    <mat-option value="umesh">umesh</mat-option>
                    <mat-option value="kumar">kumar</mat-option>
                  </mat-select>
              </mat-form-field>
        </div>
        <div class="col-md-6 mat-form-field">
          <mat-label class="mat-form-field" style="font-size: 20px; font-weight:bold; margin-left: 30px;">Status:</mat-label>
          <input type="text" style="width: 100px;" placeholder="Active"  >
        </div>
      </div>
      <mat-divider style="font-size: 1px; " class="mat-divider"></mat-divider>
      <div class="row col-md-10 mat-form-field">
        <div class="col-md-2 mat-form-field">
            <mat-label class="mat-form-field" style="font-size: 20px; font-weight:bold; margin-left: 30px;">Item Name</mat-label>
        </div>
        <div class="col-md-2 mat-form-field">
            <mat-label class="mat-form-field" style="font-size: 20px; font-weight:bold; margin-left: 30px;">Item Id</mat-label>
        </div>
        <div class="col-md-2 mat-form-field">
            <mat-label class="mat-form-field" style="font-size: 20px; font-weight:bold; margin-left: 30px;">Price</mat-label>
        </div>
        <div class="col-md-2 mat-form-field">
            <mat-label class="mat-form-field" style="font-size: 20px; font-weight:bold; margin-left: 30px;">Qty</mat-label>
        </div>
        <div class="col-md-2 mat-form-field">
            <mat-label class="mat-form-field" style="font-size: 20px; font-weight:bold; margin-left: 30px;">Total</mat-label>
        </div>
      </div>
      <mat-divider style="font-size: 1px; " class="mat-divider"></mat-divider>
    </div>
    <div class="col-md-12 mat-form-field">
      <input type="text" placeholder="biryani" style="width: 100px; margin-top:5px; margin-left: 33px;">
      <input type="text" placeholder="1" style="width: 50px; margin-top:5px; margin-left: 28px;">
      <input type="text" placeholder="100.00" style="width: 50px; margin-top:5px; margin-left: 21px;">
      <input type="text" placeholder="2" style="width: 50px; margin-top:5px; margin-left: 31px;">
      <input type="text" placeholder="200.00" style="width: 50px; margin-top:5px; margin-left: 25px;">
    </div>
    <div class="col-md-12 mat-form-field">
        <input type="text" placeholder="manchuria" style="width: 100px; margin-top:5px; margin-left: 33px;">
        <input type="text" placeholder="2" style="width: 50px; margin-top:5px; margin-left: 28px;">
        <input type="text" placeholder="200.00" style="width: 50px; margin-top:5px; margin-left: 21px;">
        <input type="text" placeholder="2" style="width: 50px; margin-top:5px; margin-left: 31px;">
        <input type="text" placeholder="400.00" style="width: 50px; margin-top:5px; margin-left: 25px;">
      </div>
      <div class="col-md-12 mat-form-field">
          <input type="text" placeholder="keema" style="width: 100px; margin-top:5px; margin-left: 33px;">
          <input type="text" placeholder="3" style="width: 50px; margin-top:5px; margin-left: 28px;">
          <input type="text" placeholder="500.00" style="width: 50px; margin-top:5px; margin-left: 21px;">
          <input type="text" placeholder="2" style="width: 50px; margin-top:5px; margin-left: 31px;">
          <input type="text" placeholder="1000.00" style="width: 50px; margin-top:5px; margin-left: 25px;">
        </div>
  </mat-card>
  </div>