<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <mat-card class="example-card">
        <div class="row col-lg-12">
          <mat-card-title style="font-size: 20px; text-align:center; margin-left: 170px; font-weight:bold;">Tableview</mat-card-title>
          <mat-divider style="font-size: 1px; margin-top: 26px; " class="mat-divider"></mat-divider>
          <div class="col-md-12" style="padding-top: 10px;overflow: auto; height: 300px;">
            <button *ngFor="let room of rooms"  [ngStyle]="{'background-color':room.BACKGROUND_COLOR}"  mat-raised-button  class="button-style colors" name="room.table_name" (click)="onbuttonclick($event,room.table_name)">{{room.table_name}}</button>
          </div>
          <div class="col-4 mat-form-wrap" style="text-align: center">
            <button mat-mini-fab color="warn" class="col-12">1</button>
            <mat-label class="mat-form-field col-12" style="font-size: 20px; text-align: center;margin-top: 5px; font-weight:bold;">Repair</mat-label>
          </div>
          <div class="col-4 mat-form-wrap" style="text-align: center">
            <button mat-mini-fab [ngStyle]="{'background-color':'green'}" class="col-12">1</button>
            <mat-label class="mat-form-field col-12" style="font-size: 20px; text-align: center;margin-top: 5px; font-weight:bold;">vacunt</mat-label>
          </div>
          <div class="col-4 mat-form-wrap" style="text-align: center">
            <button mat-mini-fab [ngStyle]="{'background-color':'orange'}" class="col-12" >1</button>
            <mat-label class="mat-form-field col-12" style="font-size: 20px; text-align: center;margin-top: 5px; font-weight:bold;">occupied</mat-label>
          </div>
          <div class="col-4 mat-form-wrap" style="text-align: center">
            <button mat-mini-fab color="primary" class="col-12" >1</button>
            <mat-label class="mat-form-field col-12" style="font-size: 20px; text-align: center;margin-top: 5px; font-weight:bold;">Billing</mat-label>
          </div>
          <div class="col-4 mat-form-wrap" style="text-align: center">
            <button mat-mini-fab [ngStyle]="{'background-color':'white'}" class="col-12">1</button>
            <mat-label class="mat-form-field col-12" style="font-size: 20px; text-align: center;margin-top: 5px; font-weight:bold; ">Reservation</mat-label>
          </div>
        </div>
        <!-- <mat-button-toggle-group name="fontStyle" ([ngModel])="roomselected" aria-label="Font Style">
          <mat-button-toggle *ngFor="let room of rooms" [value]="room.ROOM_NO">{{room.ROOM_NO}}</mat-button-toggle>
        </mat-button-toggle-group> -->
      </mat-card>
    </div>
    <!-- itemsselectionmatcard -->
    <div class="col-lg-6">
      <mat-card class="example-card2">
        <div class="row col-12 mat-form-wrap">
          <mat-label class="col-3" style="font-size: 20px; font-weight:bold;margin-top: 15px;">Resturant:</mat-label>
          <input class="col-3 " type="text"  name="resname" height="10px" width="50px" >
          <!-- <mat-form-field appearance="legacy" class="col-6">
            <mat-label>Select a Resturant</mat-label>
            <mat-select  matNativeControl requireds>
                <mat-option value="greenbawarchi">greenbawarchi</mat-option>
                <mat-option value="angara">angara</mat-option>
                <mat-option value="laforst">laforst</mat-option>
              </mat-select>
          </mat-form-field> -->
        </div>
        <div class="row col-12 mat-form-wrap">
          <mat-label class="col-3" style="font-size: 20px; font-weight:bold;">Table:</mat-label>
          <input class="col-3 " type="text" [(ngModel)] = "table_name" name="table_name" >
          <mat-label class="col-3" style="font-size: 20px; font-weight:bold;">Pax:</mat-label>
          <input class="col-3" type="text" [(ngModel)] = "table_pax" name="table_pax" >
        </div>
        <div class="row col-12 mat-form-wrap">
          <mat-label class="col-3" style="font-size: 20px; font-weight:bold;">Kot:</mat-label>
          <input type="text" class="col-3" [(ngModel)] = "kotid" name = "kotid" >
          <mat-label class="col-3" style="font-size: 20px; font-weight:bold;">Status:</mat-label>
          <input class="col-3" type="text" placeholder="Active">
        </div>
        <div class="row col-12 mat-form-wrap">
          <mat-label class="col-3" style="font-size: 20px; font-weight:bold;">Captian:</mat-label>
          <input type="text" class="col-3" [(ngModel)] = "table_capatain" name = "table_capatain" >
          <!-- <mat-form-field class="col-md-6 mat-form-wrap" style="color :gray"  >
            <mat-label style="color :gray">Select a Captian</mat-label>
             <mat-select [(ngModel)]="table_capatain" > 
              <mat-option *ngFor="let cap of tables" [value]="cap.table_capatain">{{cap.table_capatain}}</mat-option> 
            </mat-select>
          </mat-form-field>  -->
          <!-- <mat-form-field appearance="legacy" class="col-6">
             <mat-label>Select a Captian</mat-label>
            <mat-select  matNativeControl requireds>
              <mat-option value="srikar">srikar</mat-option>
              <mat-option value="umesh">umesh</mat-option>
              <mat-option value="kumar">kumar</mat-option>
            </mat-select> 
          </mat-form-field> -->
        </div>
        <button class="col-12" mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button>
        <div class="col-12">
          <div class="example-container mat-elevation-z1">
            <table mat-table [dataSource]="dataSource">
              <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
                  <!-- <ng-container matColumnDef="order_id">
                    <th mat-header-cell *matHeaderCellDef> Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.order_id}} </td>
                  </ng-container> -->
              <!-- ItemName Column -->
              <ng-container matColumnDef="itemname_item_name">
                <th mat-header-cell *matHeaderCellDef> ItemName </th>
                <td mat-cell *matCellDef="let element"> {{element.itemname_item_name}} </td>
              </ng-container>
              <!-- Rate Column -->
              <ng-container matColumnDef="order_rate">
                <th mat-header-cell *matHeaderCellDef> Rate </th>
                <td mat-cell *matCellDef="let element"> {{element.order_rate}} </td>
              </ng-container>
              <!-- Quantity Column -->
              <ng-container matColumnDef="order_quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let element"> {{element.order_quantity}} </td>
              </ng-container>
              <!-- Tax Column -->
              <ng-container matColumnDef="order_tax">
                <th mat-header-cell *matHeaderCellDef> Tax in % </th>
                <td mat-cell *matCellDef="let element"> {{element.order_tax}} </td>
              </ng-container>
              <ng-container matColumnDef="order_totalamount">
                <th mat-header-cell *matHeaderCellDef> Totalamount </th>
                <td mat-cell *matCellDef="let element"> {{element.order_totalamount}} </td>
              </ng-container>
              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-link"> 
                  <button mat-icon-button style="color:gray" (click)="openDialog('Update',element)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                  </button>
                  <!-- <button mat-icon-button style="color:gray" (click)="openDialog('Delete',element)">
                    <mat-icon aria-label="delete">delete</mat-icon>
                  </button> -->
                  <!-- <a (click)="openDialog('Update',element)">Edit</a> | 
                  <a (click)="openDialog('Delete',element)">Delete</a>   -->
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
        <div class="col-12">
          <button style="margin-left: 180px; width: 100px; " mat-botton mat-flat-button color="primary" (click)="save()" >Save</button>
        </div>
      </mat-card>
    </div>
    </div>
    </div>
    