<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <mat-card class="col-lg-12 example-card parent">
        <div class="block child">
          <p>Employee Registration</p>
          <mat-form-field class="col-md-12">
            <mat-label> Emp Id </mat-label>
            <input matInput [(ngModel)]="empregistration_id">
          </mat-form-field>
          <mat-form-field class="col-md-12">
              <mat-label> Emp Name </mat-label>
              <input matInput [(ngModel)]="empregistration_name" required>
            </mat-form-field>
            <mat-form-field class="col-md-12">
                <mat-label> Contact No </mat-label>
                <input matInput [(ngModel)]="empregistration_mobile_no" required>
              </mat-form-field>
              <mat-form-field class="col-md-12">
                  <mat-label> Email Id </mat-label>
                  <input matInput [(ngModel)]="empregistration_email_id" required>
                </mat-form-field>
                <mat-form-field appearance="legacy" class="col-md-12" >
                    <mat-label> --Select Idproof --</mat-label>
                    <mat-select  matNativeControl requireds [(ngModel)]="empregistration_id_proof">
                        <mat-option value="Aadhar">Aadhar</mat-option>
                        <mat-option value="Voterid">voterid</mat-option>
                        <mat-option value="Pancard">Pancard</mat-option>
                        <mat-option value="Drivinglicence">Pancard</mat-option>
                        <mat-option value="Govid">Govid</mat-option>
                      </mat-select>
                  </mat-form-field>
                  <mat-form-field class="col-md-12">
                      <mat-label> IdData </mat-label>
                      <input matInput [(ngModel)]="empregistration_id_data" required>
                    </mat-form-field>
                    <mat-form-field class="col-md-12">
                        <mat-label> Address </mat-label>
                        <input matInput [(ngModel)]="empregistration_Address" required>
                      </mat-form-field>
                      <mat-form-field appearance="legacy" class="col-md-12" >
                          <mat-label> --Select Department--</mat-label>
                          <mat-select  matNativeControl requireds [(ngModel)]="empdepartement_id">
                              <mat-option value="Admin">Admin</mat-option>
                              <mat-option value="manger">manger</mat-option>
                              <mat-option value="Cashier">Cashier</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="col-md-12">
                              <mat-label style="margin-left:15px;"> Status : </mat-label>
                              <mat-radio-group aria-label="Select an option" [(ngModel)]="empregistration_status">
                                  <mat-radio-button value="Active">Active</mat-radio-button>
                                  <mat-radio-button style="margin-left:10px;" value="InActive">InActive</mat-radio-button>
                                </mat-radio-group>
                              </div>
                              <div class="col-md-12">
                                  <mat-label style="margin-left:18px;"> Login : </mat-label>
                                  <mat-radio-group aria-label="Select an option" [(ngModel)]="empregistration_login_type">
                                      <mat-radio-button  value="Enable">Enable</mat-radio-button>
                                      <mat-radio-button style="margin-left:10px;" value="Disable">Disable</mat-radio-button>
                                    </mat-radio-group>
                              </div>
                              <div class="col-md-12">
                              <mat-form-field class="col-md-12">
                                  <mat-label> Username </mat-label>
                                  <input matInput [(ngModel)]="Username" required>
                                </mat-form-field>
                              </div>
                                <div class="col-md-12">
                                <mat-form-field class="col-md-12">
                                    <mat-label> Password </mat-label>
                                    <input matInput [(ngModel)]="password" required>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                  <button mat-raised-button style="margin-top: 10px;" class="btn-style" (click)="onsaveclick()">{{buttoncontent}}</button>&nbsp;&nbsp;
                                  <button  style="margin: 10px;" class="btn-style" (click)="onclearclick()">clear</button>
                                </div>
                              </div>
                             </mat-card>
                        </div>
                        <div class="col-lg-6">
                            <div class="example-container mat-elevation-z1">
                                <table mat-table [dataSource]="dataSource">
                                    <ng-container matColumnDef="empregistration_id">
                                      <th mat-header-cell *matHeaderCellDef>EmpRegId </th>
                                      <td mat-cell *matCellDef="let element"> {{element.empregistration_id}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="empregistration_name">
                                      <th mat-header-cell *matHeaderCellDef>EmpName </th>
                                      <td mat-cell *matCellDef="let element"> {{element.empregistration_name}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="empregistration_mobile_no">
                                      <th mat-header-cell *matHeaderCellDef> MobileNo </th>
                                      <td mat-cell *matCellDef="let element"> {{element.empregistration_mobile_no}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="empregistration_status">
                                      <th mat-header-cell *matHeaderCellDef> Status </th>
                                      <td mat-cell *matCellDef="let element"> {{element.empregistration_status}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="actions">
                                      <th mat-header-cell *matHeaderCellDef>Edit</th>
                                      <td mat-cell *matCellDef="let element; let i=index;"> 
                                        <button mat-icon-button style="color:gray;margin-right: 10px;" (click)="RowSelected(i,element.empregistration_id,element.empregistration_name,element.empregistration_mobile_no,element.empregistration_status)">
                                          <mat-icon aria-label="Edit">edit</mat-icon>
                                        </button>
                                      </td>
                                    </ng-container>
                                    <!-- <tr mat-header-row *matHeaderRowDef="displayedHeading; sticky: true"></tr> -->
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                  </table>    
                            </div>
                        </div>
                      </div>
                    </div>