<h1 mat-dialog-title>Items: <strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <mat-label style="color :gray">Item Category</mat-label>
    <mat-select [disabled]="disablecat" [(ngModel)]="itemcategory_id" (ngModelChange)="oncatChange()"> 
      <mat-option *ngFor="let de of itemctg" [value]="de.itemcategory_id">{{de.item_name}}</mat-option> 
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <mat-label style="color :gray">Item Names</mat-label>
    <mat-select [disabled]="disable" [(ngModel)]="data.order_itemname" (ngModelChange)="onnameChange()"> 
    <mat-option *ngFor="let re of itemnames" [value]="re.itemname_item_name">{{re.itemname_item_name}}</mat-option> 
    </mat-select>
  </mat-form-field> 
  <mat-form-field>
    <input placeholder="Quantity" matInput [(ngModel)]="data.order_quantity" (ngModelChange)="onChangeQuantity()">
  </mat-form-field>
  <ng-template #elseTemplate>
    Sure to delete <b>{{data.itemname_item_name}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <!-- <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button> -->
  <button mat-button mat-flat-button color="primary" [mat-dialog-close]="data">{{action}}</button>
  <button mat-button mat-flat-button color="primary" (click)="closeDialog()">Cancel</button>
</div>
<!-- cdkFocusInitial --to focus on that particular button or anything on pageload -->