<h1 mat-dialog-title>Items: <strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <mat-label style="color :gray">Item Names</mat-label>
    <mat-select [(ngModel)]="data.itemname_item_name" (ngModelChange)="onChange()"> 
    <mat-option *ngFor="let re of itemnames" [value]="re.itemname_item_name">{{re.itemname_item_name}}</mat-option> 
    </mat-select>
  </mat-form-field> 
  <mat-form-field>
    <input placeholder="Quantity" matInput [(ngModel)]="data.order_quantity" (ngModelChange)="onChangeQuantity()">
  </mat-form-field>
  <ng-template #elseTemplate>
    Sure to delete <b>{{data.itemname_item_name}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <!-- <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button> -->
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>{{action}}</button>
  <button mat-button (click)="closeDialog()">Cancel</button>
</div>