<div class="container">
  <div class="row">
    <div class="col-md-6">
      <mat-card class="row example-card parent">
        <div class="block child">
          <p style="margin-top: 20px; margin-left: 15px; color: gray; font-size: 24px;">Table Definition</p>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" >
            <mat-icon  style=color:#0123e4 matSuffix>format_list_numbered</mat-icon>
            <mat-label style="color :gray">Table Name/No</mat-label>
            <input style="color :gray"  type="text" name="designation_code"  matInput>
          </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" >
            <mat-icon  style=color:#0123e4 matSuffix>format_list_numbered</mat-icon>
            <mat-label style="color :gray">Pax</mat-label>
            <input style="color :gray"  type="text" name="designation_code"  matInput>
          </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" >
            <mat-icon  style=color:#0123e4 matSuffix>format_list_numbered</mat-icon>
            <mat-label style="color :gray">View</mat-label>
            <input style="color :gray"  type="text" name="designation_code"  matInput>
          </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" >
            <mat-icon  style=color:#0123e4 matSuffix>format_list_numbered</mat-icon>
            <mat-label style="color :gray">Description</mat-label>
            <input style="color :gray"  type="text" name="designation_code"  matInput>
          </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray"  >
            <mat-label style="color :gray">Status</mat-label>
             <mat-select > 
                <mat-option>Status</mat-option>
              <mat-option *ngFor="let dname of delist" [value]="dname.departmant_id">{{dname.departmant_name}}</mat-option> 
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray"  >
            <mat-label style="color :gray">Captain</mat-label>
             <mat-select > 
                <mat-option>Captain</mat-option>
              <mat-option *ngFor="let dname of delist" [value]="dname.departmant_id">{{dname.departmant_name}}</mat-option> 
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray"  >
            <mat-label style="color :gray">Steward</mat-label>
             <mat-select > 
                <mat-option>Steward</mat-option>
              <mat-option *ngFor="let dname of delist" [value]="dname.departmant_id">{{dname.departmant_name}}</mat-option> 
            </mat-select>
          </mat-form-field>
          <button mat-raised-button class="btn-style" (click)="onsubmitclick()">Save</button>
          <button mat-icon-button class="clearbtn-style" (click)="onclearclick()">
            <mat-icon>clear_all</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
    <div class="col-md-6">
      <div class="example-container mat-elevation-z1">
        <table mat-table [dataSource]="abDatasource">
          <ng-container matColumnDef="designation_id">
            <th mat-header-cell *matHeaderCellDef> Table Name/No </th>
            <td mat-cell *matCellDef="let i"> {{i.designation_id}} </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="designation_code">
            <th mat-header-cell *matHeaderCellDef> Pax </th>
            <td mat-cell *matCellDef="let i"> {{i.designation_code}} </td>
          </ng-container>
          <!-- Code Column -->
          <ng-container matColumnDef="designation_name">
            <th mat-header-cell *matHeaderCellDef> Reporting Name </th>
            <td mat-cell *matCellDef="let i"> {{i.designation_name}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let i"> {{i.designation_name}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="textSizes">Actions</th>
            <td mat-cell *matCellDef="let i; let j=index;"> 
              <button mat-icon-button style="color:gray;margin-right: 10px;" (click)="RowSelectedd(j,i.designation_id,i.departmant_id,i.designation_code,i.designation_name,i.designation_description)">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>
    
              <button mat-icon-button style="color:gray;margin-right: 10px;" (click)="deletes(j,i.designation_id,i.departmant_id,i.designation_code,i.designation_name,i.designation_description)">
                <mat-icon aria-label="Edit">delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row (click)="RowSelected(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
